//Backbone
script(type='text/javascript', src='/lib/todomvc-common/base.js')
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/underscore/underscore.js')
script(type='text/javascript', src='/lib/backbone/backbone.js')
script(type='text/javascript', src='/lib/backbone.localStorage/backbone.localStorage.js')

//Application
script(type='text/javascript', src='/js/models/todo.js')
script(type='text/javascript', src='/js/collections/todos.js')
script(type='text/javascript', src='/js/views/todo-view.js')
script(type='text/javascript', src='/js/views/app-view.js')
script(type='text/javascript', src='/js/routers/router.js')
script(type='text/javascript', src='/js/app.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')