script(type='text/javascript', src='/lib/todomvc-common/base.js')
script(type='text/javascript', src='/lib/jquery/jquery.js')

//Foundation
script(type='text/javascript', src='/lib/foundation/js/vendor/fastclick.js')
script(type='text/javascript', src='/lib/foundation/js/foundation.js')

//Backbone
script(type='text/javascript', src='/lib/underscore/underscore.js')
script(type='text/javascript', src='/lib/backbone/backbone.js')
script(type='text/javascript', src='/lib/backbone.localStorage/backbone.localStorage.js')

script(type='text/javascript', src='/js/models/option.js')
script(type='text/javascript', src='/js/models/options.js')

script(type='text/javascript', src='/js/models/question.js')
script(type='text/javascript', src='/js/models/questions.js')


script(type='text/javascript', src='/js/views/user-create-view.js')
script(type='text/javascript', src='/js/views/question-view.js')
script(type='text/javascript', src='/js/views/result-view.js')

script(type='text/javascript', src='/js/routers/router.js')

script(type='text/javascript', src='/js/app.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')