extends layouts/default

block content
  section(data-ng-view)
  script(type="text/javascript").
    window.user = !{user};

  br
  br
  br
  section#todoapp
    header#header
        h1 todos
        input#new-todo(placeholder='What needs to be done?', autofocus='autofocus')
      section#main
        input#toggle-all(type='checkbox')
        label(for='toggle-all') Mark all as complete
        ul#todo-list
      footer#footer
  footer#info
    p Double-click to edit a todo
      p
        | Written by
        a(href='https://github.com/addyosmani') Addy Osmani
      p
        | Part of
        a(href='http://todomvc.com') TodoMVC

  script#item-template(type="text/template").
    <div class="view">
      <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
      <label><%-title%></label>
      <button class="destroy"></button>
    </div>

  script#stats-template(type="text/template").
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
    <ul id="filters">
      <li>
        <a class="selected" href="#/">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <% if (completed) { %>
    <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
    