extends layouts/default

block content
  script(type="text/javascript").
    window.user = !{user};

  section
    <h1>AC Quiz!</h1>
    section#quizmain

  script#user-template(type="text/template").
    <div>
      <p>Fill out your name and email to start the quiz.</p>
      <label>Name</label>
      <input type="text"/>
      <label>Email</label>
      <input type="text"/>
    </div>
    <div>
      <a href="#question" id="start">Start</a>
    </div>

  script#question-template(type="text/template").
    <h2>Pergunta <%=currentQuestionIndex%> </h2>
    <div>
      <p><%= description %></p>
      <% _.each(options.models, function(option) { %>
        <label class="option" id="<%=option.get('id')%>">
          <input type="checkbox"/><%=option.get("description")%>
        </label>
      <% }); %>
    </div>
    <div>
      <button id="finish">Finish</button>
      <button id="back">Back</button>
      <button id="next">Next</button>
    </div>

  script#result-template(type="text/template").
    <h2>Errou tudo!</h2>
    <div>aaasd</div>
    <div>aaasd</div>
    <div>aaasd</div>